<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <h1>DELETED PRODUCT</h1>
      <h2>ID OF THEPRODUCT</h2>
      <%=deletedproduct._id%>
      <h2>NAME OF THE PRODUCT</h2>
      <%=deletedproduct.name%>
      <h2>PROCE OF THE PRODUCT</h2>
      <%=deletedproduct.price%>
      <a href="/products"><h2>BACK TO ALL PRODUCTS</h2></a>

       
</body>
</html>